Tibia-HPnMP-Detector/__pycache__/**
Tibia-HPnMP-Detector/0-HaarCascadeClassifier_(HPnMP-bars)/neg/**
Tibia-HPnMP-Detector/0-HaarCascadeClassifier_(HPnMP-bars)/pos/**
Tibia-HPnMP-Detector/1-SklearnClassifier(Number-Recognition)/NumberPredict/numbers/**
